<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.qsd.jmwh">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>


    <!-- 读写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera"/> <!-- 百度定位权限 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- TalkingData -->
    <!-- 允许应用检测网络连接状态，在网络异常状态下避免数据发送，节省流量和电量。 -->
    <!-- 获取蓝牙信息，有助于对设备的精准识别，防止刷量。 -->

    <!-- 8.0 系统上需要-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 访问WiFi状态，需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 访问网络状态, 检测网络的可用性，需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <permission
        android:name="com.qsd.jmwh.permission.RECEIVE_MSG"
        android:protectionLevel="signature"/>

    <!-- 接受SDK消息广播权限， 第三方APP接入时，请将com.qsd.jmwh替换为自己的包名 -->
    <uses-permission android:name="com.qsd.jmwh.permission.RECEIVE_MSG"/>

    <!-- 小米推送 -->
    <permission
        android:name="com.qsd.jmwh.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.qsd.jmwh.permission.MIPUSH_RECEIVE"/>

    <uses-sdk tools:overrideLibrary="com.huawei.android.hms.base,com.huawei.android.hms.push"/>
    <!--魅族推送-->

    <!-- 兼容flyme5.0以下版本，魅族内部集成pushSDK必填，不然无法收到消息-->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE"/>
    <permission
        android:name="com.qsd.jmwh.push.permission.MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.qsd.jmwh.push.permission.MESSAGE"/>
    <!--  兼容flyme3.0配置权限-->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE"/>
    <permission
        android:name="com.qsd.jmwh.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.qsd.jmwh.permission.C2D_MESSAGE"/>

    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppGrayTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">

        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="06c65a60ac6559d618d7887e95b9ad73"/>


        <!-- 声明云信后台服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core"/>

        <!-- 运行后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core"/>

        <!-- 声明云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core"/>


        <!-- 云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>


        <!-- 云信进程间通信receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver"/>

        <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService"/>


        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.qsd.jmwh.ipc.provider"
            android:exported="false"
            android:process=":core"/>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}"/>
        <meta-data
            android:name="SENSORS_ANALYTICS_UTM_SOURCE"
            android:value="${UMENG_CHANNEL}"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <meta-data
            android:name="TencentMapSDK"
            android:value="${TENCENT_MAP_KEY}"/>

        <activity
            android:name=".module.splash.SelectLoginActivity"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.home.HomeActivity"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".module.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".module.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".module.register.SelectGenderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".module.register.EditRegisterCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".module.register.EditUserDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Light"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Light"/>
        <activity
            android:name=".module.register.ToByVipActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.register.DateRangeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.TextActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTransParentTheme"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".module.home.user.activity.EditUserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.home.user.activity.PrivacySettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.home.user.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.home.user.activity.PushSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.home.user.activity.SettingPhoneNumberActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.home.user.activity.EditPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.home.user.activity.MoneyBagActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.register.GetRegisterCode"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.home.user.activity.PhotoDestroySelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.home.radio.activity.ReleaseAppointmentActivity">
        </activity>
        <activity
            android:name=".module.home.park.activity.LookUserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.home.user.activity.MineLikeActivity">
        </activity>
        <activity android:name=".module.home.user.activity.MineBlackMenuActivity">
        </activity>
        <activity
            android:name=".module.home.park.activity.LookPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.home.park.activity.ToReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.home.park.activity.SearchActivity">
        </activity>
        <activity
            android:name=".module.home.radio.activity.ViewBigImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.home.user.activity.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.home.user.activity.SettingMoneyPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.home.user.activity.AuthCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.home.user.activity.MineRadioListActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".module.home.user.activity.ApplyDetailsActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".module.home.user.activity.PlayVideoActivity"
            />
        <activity
            android:name=".module.im.activity.MessageInfoActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".module.home.message.MessageDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".web.WebViewActivity"
            android:screenOrientation="portrait"
            />

        <receiver
            android:name="com.qsd.jmwh.module.push.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${JPUSH_PKGNAME}"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>